In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
columns = [
    "Severity", "Start_Time", "State", "Timezone", "Visibility(mi)", "Wind_Speed(mph)", "Precipitation(in)", "Stop", "Traffic_Calming", "Traffic_Signal", "Sunrise_Sunset"
]

target = ["Severity"]

In [5]:
# Load the data
file_path = Path('US_Accidents_Dec21_updated.csv')
df = pd.read_csv(file_path)
df = df.loc[:, columns].copy()
df.head()

,Severity,Start_Time,State,Timezone,Visibility(mi),Wind_Speed(mph),Precipitation(in),Stop,Traffic_Calming,Traffic_Signal,Sunrise_Sunset
0,3,2016-02-08 00:37:08,OH,US/Eastern,10.0,10.4,0.00,False,False,False,Night
1,2,2016-02-08 05:56:20,OH,US/Eastern,10.0,NaN,0.02,False,False,False,Night
2,2,2016-02-08 06:15:39,OH,US/Eastern,10.0,NaN,0.02,False,False,False,Night
3,2,2016-02-08 06:51:45,OH,US/Eastern,10.0,NaN,NaN,False,False,False,Night
4,3,2016-02-08 07:53:43,OH,US/Eastern,10.0,10.4,0.01,False,False,False,Day

In [6]:
df.dtypes

Severity               int64
Start_Time            object
State                 object
Timezone              object
Visibility(mi)       float64
Wind_Speed(mph)      float64
Precipitation(in)    float64
Stop                    bool
Traffic_Calming         bool
Traffic_Signal          bool
Sunrise_Sunset        object
dtype: object

In [7]:
df = df.dropna(axis="columns", how="any")
df.head()

   Severity           Start_Time State   Stop  Traffic_Calming  Traffic_Signal
0         3  2016-02-08 00:37:08    OH  False            False           False
1         2  2016-02-08 05:56:20    OH  False            False           False
2         2  2016-02-08 06:15:39    OH  False            False           False
3         2  2016-02-08 06:51:45    OH  False            False           False
4         3  2016-02-08 07:53:43    OH  False            False           False

In [8]:
from datetime import datetime
years = [x.year for x in df["Start_Time"]]

AttributeError: 'str' object has no attribute 'year'

In [ ]:
from datetime import datetime
#df = pd.DatetimeIndex(df['Start_Time']).year
#df = datetime.fromtimestamp(objtmstmp).strftime('%y')
#df = pd.datetime(df['Start_Time']).strftime('%y')
df.head()